*
{
    padding:0;
    margin:0;
    border:0;
    font-family:essenceL;
    cursor:default;
}

body
{
    background: rgb(225,225,225);
    overflow: hidden;
}

#splash, #splash img
{
    text-align:center;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    display:none;
}

#splash img
{
    z-index:-1;
}

#splash h1, #splash h2
{
    font: 7em Tahoma, Helvetica, Arial, Sans-Serif;
	color: rgb(70,70,70);
	text-shadow: 2px 2px 5px rgb(200,200,200);
}

#profile #feedback
{
    width:300px;
    height:250px;
    border:1px solid silver;
    position:fixed;
    bottom:30px;
    right:50px;
    padding:10px;
    font-size:1.3em;
    display:none;
}

#profile
{
    background: rgb(235,235,235);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background-image: url('../images/bg2.jpg');
    display:none;
}

#profile div
{
    background:rgba(255,255,255,0.9);
    height:95%;
    width:95%;
    position:relative;
    margin:1.25% auto auto auto;
    box-shadow:0px 2px 5px grey;
}

#profile div h1
{
    position:relative;
    top:1.5%;
    left:1.5%;
    font-size:4em;
    font-family:essenceL;
    color:rgba(15,15,15,0.7);
    text-shadow:0px 1px 4px rgba(155,0,0,0.5);
}

#profile div.speech
{
    height:70%;
	width:67.5%;
	position:absolute;
	left:1.25%;
}

div.speech
{
    width:62.5%;
    height:90%;
    background:white;
    box-shadow:0px 2px 7px grey;
    -webkit-box-shadow:0px 2px 7px grey;
    margin:1.25% 1.5%;
    position:absolute;
    text-align:center;
    
}

div.speech:before
{
    content:"";
    width:0px;
    height:0px;
    position:absolute;
    left:100%;
    top:80px;
    border:55px solid; 
    border-color:rgb(215,215,215) transparent transparent rgb(215,215,215);
}

div.speech:after
{
    content:"";
    width:0px;
    height:0px;
    position:absolute;
    left:100%;
    top:83.5px;
    border:52px solid; 
    border-color:white transparent transparent white;
}

div.speech span
{
    font-size:3.2em;
    position:relative;
    top:5%;
}

div.speech input
{
    width:90%;
    height:10%;
    position:relative;
    top:15%;
    font-size:2em;
    text-align:center;
}

input
{
     border-bottom: 2px solid silver; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 0px 0;
    color:rgba(255,0,0,0.7);
    cursor:text;
    transition:500ms ease;
} 

input:hover
{
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px red; 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px red; 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px red;
}

#profile #button, #profile #backb, #age div
{
    position:absolute;
    width:150px;
    height:55px;
    bottom:0;
    margin:0px 0px 1.5% 1.5%;
    font-size:2em;
    text-align:center;
    cursor:pointer;
    transition: 200ms ease;
    border-bottom:0px solid rgba(255,0,0,0.7);
    padding-top:10px;
    box-sizing:border-box;
}

#age div
{
    position:relative;
    float:left;
    top:150px;
    vertical-align:top;
    margin-right:1.5%;
}

#profile #button:hover,#profile #backb:hover
{
    border-bottom:5px solid rgba(255,0,0,0.7);
    color:rgba(255,0,0,0.7);
}

#profile #backb
{
    display:none;
}

#intro
{
    
}

#profile #gender, #profile #isDiabetic, #profile #knowledge, #profile #race, #profile #age, #profile #history, #profile #pregnancy
{
    z-index:1;
    height:30%;
    display:none;
}

#profile #male, #profile #female, #profile .yes, #profile .no
{
    position:absolute;
    width:430px;
    height:245px;
    text-align:center;
    cursor:pointer;
    display:none;
}

#profile #male img, #profile #female img
{
    width:300px;
    height:235px;
    cursor:pointer;
}

#profile .yes, #profile .no
{
    width:430px;
    font-size:15em;
    font-weight:100;
    background-image:radial-gradient(lime,green);
    border:5px darkgreen solid;
    color:white;
    display:block;
}

#profile .no
{
    border:5px rgb(95,0,0) solid;
    background-image:radial-gradient(rgb(255,0,0),rgb(125,0,0));
}

#male, #female, .yes, .no
{
    bottom:15%;
    left:1.5%;
    transition: 200ms ease;
}

#profile .yes,#profile .no
{
    position:fixed;
    bottom:120px;
    left:3%;
    box-sizing:border-box;
    overflow:hidden;
}

#female, #profile .no
{
    left:35.5%;
}

#male:hover
{
    box-shadow:0px 0px 5px 2px rgba(0,0,255,0.9);
}

.yes:hover
{
    box-shadow:0px 0px 5px 2px rgba(0,255,0,0.9);
}

#female:hover, .no:hover
{
    box-shadow:0px 0px 5px 2px rgba(255,0,0,0.9);
}

span#man
{
    color:Blue;
    font-size:1em;
}

span#woman
{
    color:pink;
    font-size:1em;
}

#eyj
{
    position:absolute;
    top:300px;
    left:0;
    height:20%;
    font-size:2em;
}

.section
{
    position:fixed;
    background:white;
    box-shadow:0px 2px 7px grey;
    width:97%;
    height:47%;
    left:1.5%;
    border-radius:5px;
    overflow:auto;
}

#advisor
{
    top:2.5%;
}

#advisorH1
{
    margin:1.5% 1.5%;
    position:absolute;
    display:block;
    top:0;
    left:0;
    font-size:3em;
    height:100%;
    overflow:auto;
}

#patient
{
    bottom:2.5%;
}

#patient h1
{
    font-size:2em;
    font-weight:100;
    padding: 15px 0 0 15px;
}

#backbutton
{
    position:absolute;
    display:none;
    cursor:pointer;
    width:100%;
}

#backbutton img
{
    width:100%;
    height:auto;
    cursor:pointer;
}

#menu, #choice
{
    border-radius:5px; 
    border:silver 1px solid;
}

#menu
{
    width:5%;
    height:30%;
    position:fixed;
    right:50px;
    top:auto;
    bottom:50px;
    text-align:center;
    padding:5px;
    font-size:0.8em;
}

#choice
{
    z-index:1;
    width:1180px;
    height:90%;
    position:relative;
    top:5%;
    left:1.5%;
    text-align:center;
}

#choice div, #menu div
{
    display:inline-block;
    width:150px;
    height:150px;
    background:white;
    margin-right:2%;
    position:relative;
    border-radius:5px;
    box-shadow:0px 2px 5px 2px silver;
    cursor:pointer;
    text-align:center;
    font-size:1.5em;
    top:5%;
}

#menu div
{
    width:100%;
    display:block;
    height:auto;
    top:0;
    box-shadow:0 0 0 0 transparent;
    border:1px silver solid;
    border-radius:0px;
    margin-bottom:5px;
}

#choice div#life,#choice div#factor
{
    background:none;
    box-shadow:none;
}

#choice div#symptom:after,#choice div#factor:after,#choice div#life:after
{
    content:"";
    position:absolute;
    bottom:-45px;
    left:50px;
}

#choice div#symptom:after{content:"Symptoms";left:30px;}
#choice div#factor:after{content:"Risk Factors";left:30px;}
#choice div#life:after{content:"Lifestyle";}

#choice div img
{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    left:0;
    cursor:pointer;
}

#symptoms, #lifestyle
{
 display:none;  
}



#physician
{
    border-radius:50%;
    width:900px;
    height:900px;
    position:fixed;
    right:-500px;
    top:-500px;
    box-shadow:0px 0px 15px 1px grey;
    background:white;
    overflow:hidden;
    z-index:3;
    transition: 300ms ease;
}

#physician:hover
{
    box-shadow:0px 0px 30px 2px rgb(255,0,0);
}

#physician img
{
    position:absolute;
    top:490px;
    left:30px;
    width:452px;
    height:324px;
    cursor:pointer;
}

.buttons
{
    box-shadow:0px 2px 5px silver;
    height:100px;
    width:100px;
    background:rgb(255,255,255);
    margin: 40px 40px 0px 40px;
    text-align:center;
    font-size:1.3em;
    overflow:hidden;
    cursor:pointer;
    transition: 200ms ease;
    position:relative;
    display:inline-block;
    padding:5px 5px 0px 5px;
    vertical-align:top;
}

.buttons:hover
{
    box-shadow:0px 0px 5px 1px rgba(255,0,0,0.9);
}

.buttons img
{
    position:absolute;
    right:0;
    bottom:0;
    width:25px;
    height:auto;
    transition:500ms ease;
    z-index:2;
}

#submitB
{
    transform:scale(1.4);
    -webkit-transform:scale(1.4);
    background:green;
    color:White;
}

#definition
{
    width:100%;
    height:100%;
    font-size:3em;    
    background:white;
    text-align:left;
    position:absolute;
    top:0;
    padding:10px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display:none;
}

#def
{
    font-size: 1.5em;
    text-transform: capitalize;
    position:relative;
    display:block;
}

#extra
{
    width:30px;
    height:auto;
    right:10px;
    bottom:10px;
    position:absolute;
    z-index:40;
    cursor:pointer;
}

#thirst
{
}

#urinating
{
}

#vitchiness
{
}

#blurvision
{
}

#fatigue
{
}

#weightloss
{
}

.symptomsresults
{
    width:97.5%;
    height:200px;
    position:relative;
    border-radius:5px;
    z-index:3;
    margin:10px auto 10px auto;
    text-align:left;
    box-shadow:0px 2px 5px silver;
}

.symptomsresults img
{
    height:100%;
    width:auto;
    margin-right:10px;
}

.symptomsresults div, .symptomsresults img
{
    display:inline-block;
    vertical-align:top;
}

#symptom1,#symptom2
{
    display:none;
}

#directions
{
    position:absolute;
    width:62.5%;
    height:90%;
    z-index:3;
    top:5%;
    left:1.50%;
    background:white;
    display:none;
}

#directions div
{
    width:50%;
    height:100%;
    position:absolute;
    right:0;
    top:0;
}

#directions div h1, #directions div h2
{
    margin:10px;
    position:relative;
    font-size:3em;
}

#directions div h2
{
    font-size:2em;
    color:gray;
}

#directions div h2 a
{
    display:block;
    color:gray;
    text-decoration:none;
    box-shadow:0px 1px 2px grey;
    width:inherit;
    padding:10px;
    width:250px;
    transition:200ms ease;
    cursor:pointer;
}

#directions div h2 a:visited
{
    color:gray;
}

#directions div h2 a:hover
{
    color:rgba(255,0,0,0.6);
    box-shadow:0px 0px 3px 1px rgba(255,0,0,0.9);
}