*
{
    padding:0;
    border:0;
    margin:0;
    font-family:essenceL;
}

html, body
{
    width:100%;
    height:100%;
    position:fixed;
}

#nameH1
{
    font-size:4em;
    position:fixed;
    left:250px;
    top:20px;
    color:gray;
}

h1 span
{
    display:block;
    font-size:0.4em;
    font-style:italic;
    color:Gray;
}

h2
{
    font-size:2em;
}

.content h1
{
    padding-right:250px;
}

#logo
{
    border-radius:50%;
    top:10px;
    left:10px;
    border:silver 2px solid;
    width:200px;
    height:200px;
    overflow:hidden;
    position:fixed;
    background:white;
    z-index:2;
}

#logo img
{
    width:100%;
    height:auto;
    top:20px;
    position:absolute;
}

#navbar
{
    position:fixed;
    width:95%;
    height:40px;
    background-image:linear-gradient(white,silver);
    left:20px;
    top:90px;
    z-index:1;
    border-radius:35px;
    box-shadow:0px 2px 7px gray;
}

#nav
{
    width:810px;
    height:100%;
    position:relative;
    left:190px;
    padding-top:5px;
}

#nav div
{
    display:inline-block;
    height:100%;
    font-size:1.4em;
    vertical-align:top;
    text-align:center;
    padding:0 10px 0 10px;
    cursor:pointer;
}

#nav div:hover
{
    color:rgb(155,0,0);
}

#homesection, #diabetessection, #interfacesection, #essection, #archsection, #downloadsection
{
    width:100%;
    height:80%;
    position:absolute;
    z-index:0;
    top:101%;
    left:0;
    overflow:hidden;
    transition:500ms ease;
    border-radius:15px 15px 0 0;
    box-shadow:0px -1px 7px silver;

}

.section
{
    width:200px;
    height:100%;
    position:absolute;
    left:0;
    padding:50px;
    box-sizing:border-box;
    border-right:silver 1px solid;
}

.section h1
{
    transform:rotate(-90deg) scale(3);-webkit-transform:rotate(-90deg) scale(3);
    position:absolute;
    top:250px;
}

p, ul, li,ol
{
    font-family:helvetica;
    padding-right:250px;
}

#homesection .section
{
    background:rgba(236, 240, 241,1.0);
}

#homesection .section h1
{
    color:Silver;
}

#diabetessection .section
{
    background:rgba(231, 76, 60,1.0);
}

#diabetessection h1
{
    color:rgb(155,0,0);
}

#archsection .section
{
    background:rgba(155, 89, 182,1.0);
}

#archsection .section h1
{
    color:purple;
}

#archsection h2
{
    color:purple;
}

#interfacesection .section
{
    background:rgba(52, 152, 219,1.0);
}

#interfacesection h2
{
    color:rgb(0,0,155);
}

#essection .section
{
    background:rgba(231, 76, 60,1.0);
}

#essection h2
{
    color:rgb(155,0,0);
}

#essection .section h1
{
    transform:rotate(-90deg) scale(2.5);-webkit-transform:rotate(-90deg) scale(2.5);
    left:0;
}


#downloadsection .section
{
    background:rgba(46, 204, 113,1.0);
}

#downloadsection .section h1
{
    color:Green;
}

#downloadsection h2
{
    color:Green;
}

.content
{
    height:90%;
    width:100%;
    position:absolute;
    opacity:1;
    margin-left:200px;
    top:0;
    padding:20px 200px 20px 20px;
    overflow:auto;
}

.content h1
{
    font-size:5em;
    font-weight:100;
    color:White;
    text-transform:uppercase;
    font-weight:bold;
    position:absolute;
    top:0;
}

.content .header
{
    position:relative;
    width:100%;
    height:auto;
    top:-20px;left:-20px;
    z-index:-1;
}

#downloadsection .content .header
{
    height:auto;
    width:90%;
    top:-200px;
}

#kev,#ben,#proposal
{
    width:200px;
    display:inline-block;
    position:absolute;
    z-index:1;
    top:0;
    left:150px;
    background:rgba(0,0,0,0.6);
    font-size:2em;
    text-align:center;
    top:100px;
}

#kev a,#ben a,#proposal a
{
    color:White;
    position:relative;
    display:inline-block;
    border:0;
    text-transform:uppercase;
    cursor:pointer;
}

#kev a:hover
{
    color:Blue;
}

#ben a:hover
{
    color:red;
}

#proposal a:hover
{
    color:Purple;
}

#ben
{
    left:750px;
}

#proposal
{
    left:450px;
}

a
{
    color:black;
    text-decoration:none;
    padding:0 10px 0 10px;
    border-left:silver 1px solid;border-right:silver 1px solid;
    transition:500ms ease;
}

a:hover
{
    color:rgb(155,0,0);
    border-left:rgb(155,0,0) 1px solid;border-right:rgb(155,0,0) 1px solid;
}

#nav #home a:hover{color:Gray;border-left:rgb(55,55,55) 1px solid;border-right:rgb(55,55,55) 1px solid;}
#nav #interface a:hover{color:blue;border-left:rgb(0,0,155) 1px solid;border-right:rgb(0,0,155) 1px solid;}
#nav #download a:hover{color:green;border-left:rgb(0,155,0) 1px solid;border-right:rgb(0,155,0) 1px solid;}
#homesection:target,#diabetessection:target, #interfacesection:target,#essection:target,#archsection:target, #downloadsection:target
{
    top:150px;
    animation:move 1s ease;
    -webkit-animation:move 1s ease;
    z-index:1;
}

#nav #home a:hover{color:Gray;border-left:rgb(55,55,55) 1px solid;border-right:rgb(55,55,55) 1px solid;}
#nav #interface a:hover{color:blue;border-left:rgb(0,0,155) 1px solid;border-right:rgb(0,0,155) 1px solid;}
#nav #download a:hover{color:green;border-left:rgb(0,155,0) 1px solid;border-right:rgb(0,155,0) 1px solid;}

//------------------------------------------------Keyframes----------------------------------------------------

@keyframes move
{
    from {top:100%;}
    50% {top:140px;}
    to {top:150px;}
}

@-webkit-keyframes move
{
    from {top:100%;}
    50% {top:140px;}
    to {top:150px;}
}

@-moz-keyframes move
{
    from {top:100%;}
    50% {top:140px;}
    to {top:150px;}
}

@-o-keyframes move
{
    from {top:100%;}
    50% {top:140px;}
    to {top:150px;}
}

@-ms-keyframes move
{
    from {top:100%;}
    50% {top:140px;}
    to {top:150px;}
}